.banner{
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/the-lagoon-nebula-in-sagittarius-royalty-free-image-106898541-1563223777.jpg?crop=1.00xw:0.716xh;0,0.284xh&resize=640:*");
    height: 300px;
    margin-bottom: 5px;
}